{% extends "base.html" %}

{% block content %}
<div class="hero">
  <hgroup>
    <h1>Welcome to RAG Builder!</h1>
    <h2>Your personal knowledge base builder.</h2>
  </hgroup>
  <button
    data-modal-trigger="confirmation-modal"
    data-modal-title="Instructions"
    data-modal-hide-footer="true"
    data-modal-body="<p>Welcome to RAG Builder! This application allows you to create and manage a knowledge base for a RAG (Retrieval-Augmented Generation) system.</p><p>Use the sidebar to navigate through the different sections:</p><ul><li><b>Knowledge Base:</b> View available documents and query the knowledge base.</li><li><b>Load Document:</b> Load new documents into the knowledge base and view the history of loaded documents.</li></ul>"
  >
    Instructions
  </button>
</div>
{% endblock %}
