name: CI

on:
  pull_request:
    branches: [main]

jobs:
  test-stack:
    name: Test CDK stack
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Test CDK stack snapshot
        run: |
          uv sync --frozen
          uv run pytest

  test-lambda:
    name: Test Lambda functions
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    services:
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8000:8000
        options: >-
          --health-cmd "java -version" --health-interval 10s --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            backend_api:
              - 'rag_builder/lambda/backend-api/**'
            delete_document:
              - 'rag_builder/lambda/delete-document/**'
            load_document:
              - 'rag_builder/lambda/load-document/**'
            optimize_vector_store:
              - 'rag_builder/lambda/optimize-vector-store/**'

      - name: Test backend API
        if: steps.changes.outputs.backend_api == 'true'
        working-directory: rag_builder/lambda/backend-api
        run: |
          uv sync --frozen
          uv run pytest --cov --junit-xml=pytest.xml | tee pytest-coverage.txt

      - name: Post coverage comment
        if: steps.changes.outputs.backend_api == 'true'
        uses: MishaKav/pytest-coverage-comment@v1
        with:
          pytest-coverage-path: rag_builder/lambda/backend-api/pytest-coverage.txt
          junitxml-path: rag_builder/lambda/backend-api/pytest.xml
          title: Backend API Coverage
          unique-id-for-comment: backend-api-coverage

      - name: Test delete-document lambda
        if: steps.changes.outputs.delete_document == 'true'
        working-directory: rag_builder/lambda/delete-document
        run: |
          uv sync --frozen
          uv run pytest --cov --junit-xml=pytest.xml | tee pytest-coverage.txt

      - name: Post coverage comment
        if: steps.changes.outputs.delete_document == 'true'
        uses: MishaKav/pytest-coverage-comment@v1
        with:
          pytest-coverage-path: rag_builder/lambda/delete-document/pytest-coverage.txt
          junitxml-path: rag_builder/lambda/delete-document/pytest.xml
          title: "`delete-document` Lambda Coverage"
          unique-id-for-comment: delete-document-coverage

      - name: Test load-document lambda
        if: steps.changes.outputs.load_document == 'true'
        working-directory: rag_builder/lambda/load-document
        run: |
          uv sync --frozen
          uv run pytest --cov --junit-xml=pytest.xml | tee pytest-coverage.txt

      - name: Post coverage comment
        if: steps.changes.outputs.load_document == 'true'
        uses: MishaKav/pytest-coverage-comment@v1
        with:
          pytest-coverage-path: rag_builder/lambda/load-document/pytest-coverage.txt
          junitxml-path: rag_builder/lambda/load-document/pytest.xml
          title: "`load-document` Lambda Coverage"
          unique-id-for-comment: load-document-coverage

      - name: Test optimize-vector-store lambda
        if: steps.changes.outputs.optimize_vector_store == 'true'
        working-directory: rag_builder/lambda/optimize-vector-store
        run: |
          uv sync --frozen
          uv run pytest --cov --junit-xml=pytest.xml | tee pytest-coverage.txt

      - name: Post coverage comment
        if: steps.changes.outputs.optimize_vector_store == 'true'
        uses: MishaKav/pytest-coverage-comment@v1
        with:
          pytest-coverage-path: rag_builder/lambda/optimize-vector-store/pytest-coverage.txt
          junitxml-path: rag_builder/lambda/optimize-vector-store/pytest.xml
          title: "`optimize-vector-store` Lambda Coverage"
          unique-id-for-comment: optimize-vector-store-coverage
